* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d0cece;
  height: 100vh;
}

header {
  height: 150px;
  
  display: block;

  text-align: center;
  font-family: 'Righteous';
  font-style: italic;
  color: black;
}

.menu-col {
  display: inline-block;
  padding: 5px 10px;
}

.menu-icon {
  height: 22px;
  width: 22px;
  margin: 3px;
  float: left;
}

.btn {
  height: 28px;
  font-family: 'Silkscreen';
  background-color: #d0cece;
  border: #dbdbdb;
  border-style: outset;
  width: 80px;
}
.btn:hover {
  border-style: inset;
}




/* .font-test {
  font-size: 40px;
}
.ft-1 {
  font-family: 'Flow Circular';
}
.ft-2 {
  font-family: 'Passion One';
}
.ft-3 {
  font-family: 'PT Mono';
}
.ft-4 {
  font-family: 'Righteous';
}
.ft-5 {
  font-family: 'Space Mono';
} */