<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>thatlamesite</title>
    <meta name="application-name" content="thatlameone">
    <meta name="description" content="thatlameone">
    <meta name="keywords" content="thatlameone,that lame one,thatlamesite,music">
    <meta property="og:type" content="website">
    <meta property="og:title" content="thatlameone">
    <!-- <meta property="og:url" content="https://thatlamesite.com/"> -->
    <meta property="og:description" content="thatlameone">
  </head>
  <body>
    <header>
      <h1>thatlameone</h1>
      <div class="menu-col">
        <img src="https://stackblitz.com/files/angular-ivy-d7zkmd/github/saegben/thatlamesite/main/src/app/assets/icons8-camera-32.png" class="menu-icon">
        <button class="btn">photos</button>
      </div>
      <div class="menu-col">
        <img src="https://stackblitz.com/files/angular-ivy-d7zkmd/github/saegben/thatlamesite/main/src/app/assets/icons8-audio-file-32.png" class="menu-icon">
        <button class="btn">audios</button>
      </div>
      <div class="menu-col">
        <img src="https://stackblitz.com/files/angular-ivy-d7zkmd/github/saegben/thatlamesite/main/src/app/assets/icons8-video-file-32.png" class="menu-icon">
        <button class="btn">videos</button>
      </div>
      <div class="menu-col">
        <img src="https://stackblitz.com/files/angular-ivy-d7zkmd/github/saegben/thatlamesite/main/src/app/assets/icons8-shop-32.png" class="menu-icon">
        <button class="btn">shop</button>
      </div>
    </header>
    <div class="content">

    </div>
  
  </body>
</html>

