<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>thatlamesite</title>
    <meta name="application-name" content="thatlameone">
    <meta name="description" content="thatlameone">
    <meta name="keywords" content="thatlameone,that lame one,thatlamesite,music">
    <meta property="og:type" content="website">
    <meta property="og:title" content="thatlameone">
    <!-- <meta property="og:url" content="https://thatlamesite.com/"> -->
    <meta property="og:description" content="thatlameone">
  </head>
  <body>

    <header>
      <h1>thatlameone</h1>
      <button class="menu-btn" (click)="toggleMenu()">menu</button>
    </header>

    <div class="menu" *ngIf="visible">

      <label class="icon-label">
        <img src="https://stackblitz.com/files/angular-ivy-d7zkmd/github/saegben/thatlamesite/main/src/app/assets/icons8-camera-32.png" class="icon icon-camera">
        <h4>photos</h4>
      </label>

      <label class="icon-label">
        <img src="https://stackblitz.com/files/angular-ivy-d7zkmd/github/saegben/thatlamesite/main/src/app/assets/icons8-audio-file-32.png" class="icon icon-audio">
        <h4>audios</h4>
      </label>

      <label class="icon-label">
        <img src="https://stackblitz.com/files/angular-ivy-d7zkmd/github/saegben/thatlamesite/main/src/app/assets/icons8-video-file-32.png" class="icon icon-video">
        <h4>videos</h4>
      </label>

      <label class="icon-label">
        <img src="https://stackblitz.com/files/angular-ivy-d7zkmd/github/saegben/thatlamesite/main/src/app/assets/icons8-shop-32.png" class="icon icon-shop">
        <h4>shop</h4>
      </label>
      


      <!-- <p class="ft-1">----------------------------------------------------------</p>
      <p class="ft-1">----------------------------------------------------------</p> -->
    </div>


    <div class="content">
      <p>this is the main content</p>


      <!-- Font Tests -->
      <p class="font-test">This is the regular font --- font-test thatlameone THATLAMEONE !!??..,,""::;;</p>

      <p class="font-test ft-1">1 font-test thatlameone THATLAMEONE !!??..,,""::;;</p>
      <p class="font-test ft-2">2 font-test thatlameone THATLAMEONE !!??..,,""::;;</p>
      <p class="font-test ft-3">3 font-test thatlameone THATLAMEONE !!??..,,""::;;</p>
      <p class="font-test ft-4">4 font-test thatlameone THATLAMEONE !!??..,,""::;;</p>
      <p class="font-test ft-5">5 font-test thatlameone THATLAMEONE !!??..,,""::;;</p>

    </div>
    

    <footer>
      <!-- Socials -->
      <div class="info-block">
        <p>twitter</p>
        <p>instagram</p>
        <p>youtube</p>
        <p>tiktok</p>
      </div>
      <!-- Platforms -->
      <div class="info-block">
        <p>soundcloud</p>
        <p>spotify</p>
        <p>applemusic</p>
      </div>
    </footer>

  </body>
</html>

