<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>thatlamesite</title>
    <meta name="application-name" content="thatlameone">
    <meta name="description" content="thatlameone">
    <meta name="keywords" content="thatlameone,that lame one,thatlamesite,music">
    <meta property="og:type" content="website">
    <meta property="og:title" content="thatlameone">
    <!-- <meta property="og:url" content="https://thatlamesite.com/"> -->
    <meta property="og:description" content="thatlameone">
  </head>
  <body>

    <header>
      <h1>thatlameone</h1>
      <button class="menu-btn" (click)="toggleMenu()">menu</button>
    </header>

    <div class="menu" *ngIf="visible">
      <p class="ft-1">----------------------------------------------------------</p>
        pics - audio files - store - music videos
      <p class="ft-1">----------------------------------------------------------</p>
    </div>


    <div class="content">
      <p>this is the main content</p>


      <!-- Color Tests -->
      <div class="color-test ct-1">1</div>
      <div class="color-test ct-2">2</div>
      <div class="color-test ct-3">3</div>
      <div class="color-test ct-4">4</div>
      <div class="color-test ct-5">5</div>
      <div class="color-test ct-6">6</div>
      <div class="color-test ct-7">7</div>
      <div class="color-test ct-8">8</div>
      <div class="color-test ct-9">9</div>
      <div class="color-test ct-10">10</div>

      <!-- Font Tests -->
      <p class="font-test">This is the regular font --- font-test thatlameone THATLAMEONE !!??..,,""::;;</p>

      <p class="font-test ft-1">1 font-test thatlameone THATLAMEONE !!??..,,""::;;</p>
      <p class="font-test ft-2">2 font-test thatlameone THATLAMEONE !!??..,,""::;;</p>
      <p class="font-test ft-3">3 font-test thatlameone THATLAMEONE !!??..,,""::;;</p>
      <p class="font-test ft-4">4 font-test thatlameone THATLAMEONE !!??..,,""::;;</p>
      <p class="font-test ft-5">5 font-test thatlameone THATLAMEONE !!??..,,""::;;</p>

    </div>
    

    <footer>
      <!-- Socials -->
      <div class="info-block">
        <p>twitter</p>
        <p>instagram</p>
        <p>youtube</p>
        <p>tiktok</p>
      </div>
      <!-- Platforms -->
      <div class="info-block">
        <p>soundcloud</p>
        <p>spotify</p>
        <p>applemusic</p>
      </div>
    </footer>

  </body>
</html>

