* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7fb5cf;
  height: 100%;
}

header, footer {
  background-color: #3da5d9;
  display: block;
  font-family: 'Righteous';
  text-align: center;
}



.menu-btn {
  font-family: 'Righteous'; 
  font-size: 25px;
  background: none;
  border: none;
}

.content {
  width: 75%;
  margin: 0 auto;
  background-color: #ffffff;
}


.color-test {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.ct-1 {
  background-color: #272838;
}
.ct-2 {
  background-color: #4056f4;
}
.ct-3 {
  background-color: #470ff4;
}
.ct-4 {
  background-color: #372772;
}
.ct-5 {
  background-color: #355070;
}
.ct-6 {
  background-color: #172a3a;
}
.ct-7 {
  background-color: #2364aa;
}
.ct-8 {
  background-color: #3da5d9;
}
.ct-9 {
  background-color: #1a1c3b;
}
.ct-10 {
  background-color: #180d7a;
}


.font-test {
  font-size: 40px;
}

.ft-1 {
  font-family: 'Flow Circular';
}
.ft-2 {
  font-family: 'Passion One';
}
.ft-3 {
  font-family: 'PT Mono';
}
.ft-4 {
  font-family: 'Righteous';
}
.ft-5 {
  font-family: 'Space Mono';
}