@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=PT+Mono&family=Passion+One&family=Righteous&family=Space+Mono&display=swap');

/*
font-family: 'Flow Circular';
font-family: 'Passion One';
font-family: 'PT Mono';
font-family: 'Righteous';
font-family: 'Space Mono';
*/

* {
  margin: 0;
}