.container {
  height: 500px;
  width: 75%;
  margin: 0 auto;
  border: 1px solid black;
}

.container-header {
  height: 24px;
  border-bottom: 1px solid black;
}

.container-btn {
  background-color: #d0cece;
  border: #dbdbdb;
  border-style: outset;
  height: 24px;
  width: 24px;
}
.container-btn:hover {
  border-style: inset;
}

.container-title {
  margin-left: 5px;
}

.home-button {
  height: 24px;
  width: 24px;
  float: right;
  background-color: #d0cece;
  border: #dbdbdb;
  border-style: outset;
}
.home-button:hover {
  border-style: inset;
}

.home-icon {
  height: 19px;
  width: 19px;
}